@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    margin: 0;
    padding: 0;
}

#menu {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
}

#menu label {
  opacity: 0.7;
}

#menu p.title {
  opacity: 0.9;
  font-weight: 500;
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 6px;
  background: #101113;
}
#menu p.title i {
  color: #ff8989;
  opacity: 0.8;
  font-size: 1.1em;
  margin-right: 3px;
}

#menu div.wrapper {
    padding: 15px;
}

#menu div.brand {
    margin-top: 5px;
    margin-bottom: 20px;
}

#menu .version {
  font-size: 0.6em;
  font-weight: 500;
  padding: 5px;
  opacity: 0.5;
}

#content {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 400px;
    border: 1px solid #343434;
    overflow: hidden;
    background: #ff00ff;
}

.file-preview {
    border: 1px solid #343434;
    border-radius: 2px;
    overflow: scroll;
    width: 100%;
    max-height: 300px;
    background: #101113;
    padding: 10px;
}

input[type="file"] {
  height: 3rem;
}

/*
-----------------------------------------------------
Custom scrollbars
-----------------------------------------------------
*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-corner {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(120,120,120,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(120,120,120,0.4);
  }
