.ns-close {
    display: none;
}

.ns-thumb.cc img {
    width: 80px;
    height: 80px;
}


.ns-effect-thumbslider .ns-content {
	background: #fff;
	color: #343434;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 400 !important;
	padding: 7px 40px 0 100px;
	height: 80px;
	line-height: 0;
}

.ns-effect-thumbslider .ns-content p {
	line-height: 40px;
}

.ns-effect-thumbslider .ns-content small {
    line-height: 10px;
    font-size: 18px;
    font-weight: 300 !important;
}

.ns-effect-cornerexpand .icon {
	color: #5a7d98;
	background: #fff;
	display: block;
	width: 4em;
	height: 4em;
	line-height: 5.3;
	margin: 0.25em auto 0;
	border-radius: 50%;
}

.ns-effect-cornerexpand p {
    font-size: 1.2em;
}

.ns-effect-cornerexpand strong {
    font-size: 1.3em;
}

.red .ns-effect-cornerexpand {
	background: red;
}

.red .ns-effect-cornerexpand .icon {
	color: red;
}

.purple .ns-effect-cornerexpand {
	background: #9147FF;
}

.purple .ns-effect-cornerexpand .icon {
	color: #9147FF;
}

.blueish .ns-effect-cornerexpand {
	background: #7085D5;
}

.blueish .ns-effect-cornerexpand .icon {
	color: #7085D5;
}

.pink .ns-effect-cornerexpand {
	background: #D62976;
}

.pink .ns-effect-cornerexpand .icon {
	color: #D62976;
}

.black .ns-effect-cornerexpand {
	background: #000;
}

.black .ns-effect-cornerexpand .icon {
	color: #000;
}
